name: Update Activity Log

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate GitHub Activity
        uses: jamesgeorge007/github-activity-readme@v0.4.1
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        with:
          MAX_LINES: 5
          COMMIT_MSG: "chore: auto-update activity log"
